body {
	margin: 0 auto;
	padding: 0 auto;
	font-family: 'Roboto', sans-serif;
	background-color: #605b56;
}

#header {
	width: 90%;
	background-color: #acc18a;
	text-align: center;
	margin: 2% 5%;
	font-size: 20px;
	color: #f2fbe0; 
}

#header a {
	text-decoration: none;
	color: #f2fbe0;
	padding: 3%;
	margin: 5%;
}

#fizzbuzz {
	width: 90%;
	background-color: #dafeb7;
	text-align: center;
	margin: 2% 5%;
	padding: 1%;
	font-size: 18px; 
	color: #605b56;
}

#fizzbuzz p {
	text-align: justify;
}

fbresponse {
	width: 100%;
	color: #605b56;
	text-align: center;
	margin: 0 auto;
}

fbresponse .fizz {
	font-weight: bold;
}

fbresponse .buzz {
	text-decoration: underline;
}

fbresponse .fizzbuzz {
	font-weight: bold;
	text-decoration: underline;
}

.forceDiv{
  background-color: lightblue;
  height: 100px;
  width: 100%;
  position: relative;
}
.yoda{
      transition: all linear 1s;
opacity:1
}
.yoda.ng-hide{
    opacity:0
}

