<div id="fizzbuzz" ng-controller="fizzBuzzCtrl">
	<h1>Star Wars FizzBuzz</h1>
	<p>FizzBuzz is a counting game that starts with at the number "1" and counts to the number "100". However, you replace any number that is divisible by 3 with the word "Fizz", any number divisible by 5 with the word "Buzz", and any number that is divisible by both 3 and 5 with the workd "FizzBuzz"Each number that is divisible by 3. In this version, the words JarJar, Binks and JarJar Binks are used instead. Give it a try!</p>
	
	<input ng-model="entry" type="text" placeholder="Enter a Number!">
	<button ng-click=numEntry(entry)>Submit</button>
	<fbresponse></fbresponse>
	
	<button ng-click=showFizzBuzz()>See All of FizzBuzz!</button>
	<p>
		<span ng-repeat="num in fizzBuzzArray track by $index"> {{ num }}, </span>
	</p>
</div> 